body{
    padding: 0%;
    margin: 0%;
    background-color: rgb(246, 246, 246);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    font-family: Arial, Helvetica, sans-serif;
}


.navigation{
    width: 100%;
    display: inline-block;
    background-color: gray;
    background-image: linear-gradient(rgb(101, 101, 101), rgb(175, 175, 175));
}

.navigation div{
    margin-left: 220px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation a{
    color: white;
    font-size: 13px;
    padding: 40px;
}




.main{
    margin: 20px;
    min-width: 800px;
}

.d0{
    text-align: center;
    left: 20px;
    top: 10px;
    width: 162px;
    color: rgb(66, 66, 66);
    border: solid;
    border-width: 3px;
    border-radius:6px;
    position: absolute;
    display: inline-block;
    border-color: #4877a8;
    box-shadow: 1px 1px 15px white;
    background-color: rgb(255, 255, 255);
}

.sidebar{
    float: left;
    width: 162px;
    margin-top: 45px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    display: inline-block;
    border-color: rgb(184, 182, 182);
    background-color: white;
    text-align: center;
}

.sidebar div{
    padding: 5px;
}

.sidebar, .d1, .d2, .d3{
    border-bottom-style: solid;
    border-bottom-width: 1px;   
    border-color: rgb(184, 182, 182);
}

.sidebar a{
    text-decoration: none;
    font-size: 13px;
    color: #4877a8;
}






.content{
    margin: 20px;
    margin-top: -5px;
    display: inline-block;
}





.smallnavigation{
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
    background-color: #2b5e98;
    background-image: linear-gradient(#3e7ac0, #1a3b60);
}

.smallnavigation a{
    color: white;
    font-size: 15px;
    padding: 40px;
    text-decoration: none;
}





.maincontent{
    border-color: rgb(184, 182, 182);
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    margin-top: 10px;
    background-color: white;
}

.maincontent-border{
    width: 98%;
    margin: 1%;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: rgb(184, 182, 182);
}

.maincontent-title{
    width: 100%;
    display: inline-block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: linear-gradient(#ffffee, #dfdfd3);
}

.maincontent-title p{
    margin: 0%;
    padding: 7px;
    font-size: 13px;
    font-weight: bold;
}




.file{
    margin: 1%;
    width: 98%;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(184, 182, 182);
    border-radius: 10px;
}

.file p{
    padding: 5px;
    margin: 0%;
}
