.mainimage{
    margin-bottom: 200px;
}




.hey-content{
    width: 40%;
    margin-top: 200px;
    line-height: 19pt;
    display: inline-block;
}




.prg-background{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 200px;
    margin-bottom: 200px;
    display: inline-block;
    background-image: url("../images/programbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}
.prg-main{
    margin: 60px;
    padding-left: 60px;
    padding-right: 60px;
    display: inline-block;
    background-color:#373737f5;
}
.prg-main>a{
    color: black;
    text-decoration: none;
    vertical-align: top;
}
.prg-main>h1{
    padding: 20px;
    color: white;
}
.prg-box{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 80px;
    max-width: 350px;
    border-radius: 6px;
    display: inline-block;
    box-shadow: 1px 1px 50px rgb(95, 95, 95);
}
.prg-box:hover{
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    box-shadow: 1px 1px 15px rgb(95, 95, 95);
}
.prg-box-img{
    width: 100%;
    height: 500px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}
#fotofilm{
    background-image: url("../images/fotofilm.jpg");
}
#design{
    background-image: url("../images/design.jpg");
}
#teknik{
    background-image: url("../images/programmer.jpg");
}
.prg-content{
    width: 330px;
    margin: 10px;
    margin-top: 410px;
    background-color: white;
    text-align: center;
    display: inline-block;
    line-height: 19pt;
}
.prg-content>p{
    display: none;
}
.prg-main>a:hover .prg-content>p{
    display: inline-block;
}
.prg-main>a:hover .prg-content{
    margin-top: 340px;
    transition: 0.3s;
    background-color: white;
    box-shadow: 1px 1px 10px white;
    transition-timing-function: ease-in-out;
}




.more-background{
    width: 100%;
    display: inline-block;
    background-color: #f8e9e4;
    box-shadow: 1px 1px 50px rgb(190, 190, 190);
}
.more-content{
    width: 40%;
    padding: 80px;
    line-height: 19pt;
    display: inline-block;
}




.principal-background{
    max-width: 911px;
    margin-top: 200px;
    margin-bottom: 200px;
    display: inline-block;
    box-shadow: 1px 1px 50px gray;
    background-color: rgb(255, 232, 189);
}
.principal-content{
    width: 34%;
    display: inline-block;
    padding: 3%;
}
.principal-content>p{
    line-height: 19pt;
}
.principal-img{
    width: 60%;
    float: right;
    height: 600px;
    overflow: hidden;
    background-image: url("../images/principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.kontakt-button{
    float: left;
    color: white;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    background-color: #f7a14b;
    box-shadow: 1px 1px 10px rgb(177, 177, 177);
}
.kontakt-button:hover{
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    box-shadow: 1px 1px 30px rgb(255, 255, 255);
}