.youcantseeme{
    background-image: url("../images/pexels-george-pak-7972651.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.infor-background{
    color: white;
    padding: 15px;
    margin-top: 200px;
    margin-bottom: 200px;
    display: inline-block;
    background-color: #373737;
    box-shadow: -20px 20px 1px white;
}
iframe{
    height: 400px;
    display: inline-block;
}
.infor-content{
    text-align: left;
    padding: 20px;
    vertical-align: top;
    display: block;
}