body{
    margin: 0%;
    padding: 0%;
    font-size: 18px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}




.navigation{
    width: 100%;
    z-index:999;
    min-height: 78px;
    position: fixed;
    background-image: linear-gradient(rgb(47, 47, 47), rgba(77, 77, 77, 0));
}
.logo{
    top: 12px;
    left: 80px;
    position: absolute;
    display: inline-block;
}
.logo>h1, .logo>h2{
    margin: 0%;
    color: white;
    font-size: 24px;
    text-shadow: 1px 1px 15px white;
}
.navbar{
    right: 100px;
    padding: 20px;
    position: absolute;
    display: inline-block;
}
.navbar a{
    font-size: 18px;
    padding: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
}
.navbar>a:hover{
    text-shadow: 1px 1px 15px white;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}



#main{
    font-size: 18px;
    font-weight: bolder;
    text-decoration: underline;
}
#mains-icon{
    font-weight: bolder;
}
.main{
    display: inline-block;
}
.aa{
    display: inline-block;
    font-size: 18px;
}


.fa-caret-down{
    display: none !important; 
    
}
.program-down> button:hover> .fa-caret-down{
    display: inline-block !important;
}
.fa-caret-up{
    display: inline-block;
}
.program-down> button:hover> .fa-caret-up{
    display: none;
}


.program-down{
    padding: 10px;
    display: inline-block;
}
.program-down>button{
    border: none;
    color: white;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
}
.program-down>button:hover{
    color: white;
    text-decoration: underline;
}
.program-content{
    display: none;
    min-width: 100px;
    position: absolute;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(182, 182, 182);
}
.program-content>a{
    font-size: 18px;
    color: black;
    display: block;
    padding: 12px 18px;
    text-decoration: none;
}
.program-down:hover .program-content{
    display: block;
}
.program-content a:hover{
    background-color: antiquewhite;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.program-down:hover button{
    text-shadow: 1px 1px 15px white;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}




.welcome-content{
    width: 100%;
    max-height: 1500px;
    position: relative;
}
.welcome-content-main, .welcome-content-fotofilm, .welcome-content-design, .welcome-content-teknik{
    width: 100%;
    height: 100%;
    position: relative;
}
.blurdiv-fotofilm, .blurdiv-design, .blurdiv-teknik{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(1px);
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome-content-main{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/welcome.jpg");
}

.blurdiv-fotofilm{
    background-image: url("../images/fotofilm.jpg");
}
.blurdiv-design{
    background-image: url("../images/design.jpg");
}
.blurdiv-teknik{
    background-image: url("../images/programmer.jpg");
}

.welcome-content .h1-box{
    display: inline-block;
    padding: 350px;
}
.h1-box>h1{
    color: white;
    font-size: 60px;
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
    background-color: #373737f5;
    box-shadow: -20px 25px 1px rgb(255, 255, 255);
    text-shadow: 1px 1px 10px rgb(67, 67, 67);
}




.program-description{
    width: 50%;
    text-align: left;
    line-height: 21pt;
    margin-top: 10px;
    margin-bottom: 150px;
    display: inline-block;
}
.program-description>p{
    font-size: 18px;
}




.bottom{
    width: 100%;
    height: 220px;
    text-align: center;
    background-color: rgb(48, 48, 48);
}
.bottom>p{
    margin: 0%;
    color: white;
    font-weight: bolder;
    padding: 20px;
}
.media>a{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: 40px;
    display: inline-block;
}
.line{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    border-color: white;
    border-top-width: 1px;
    border-top-style: solid;
}
.powered{
    margin-bottom: 20px;
    color: white;
    font-size: 12px;
    display: inline-block;
}